In [ ]:
import requests
from bs4 import BeautifulSoup
import pandas as pd

In [2]:
webpage = requests.get("https://www.nirfindia.org/Rankings/2024/EngineeringRanking.html")
webpage

In [3]:
soup = BeautifulSoup(webpage.content)

In [4]:
print(soup.prettify()[:1000])

<!DOCTYPE html>
<html>
 <head>
  <script async="" src="//www.google-analytics.com/analytics.js">
  </script>
  <script>
   (function (i, s, o, g, r, a, m) {i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {(i[r].q = i[r].q || []).push(arguments)}, i[r].l = 1 * new Date(); a = s.createElement(o),m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)})(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');ga('create', 'UA-75867016-1', 'auto');ga('send', 'pageview');
  </script>
  <meta content="text/html; charset=utf-8" http-equiv="Content-Type"/>
  <title>
   MoE, National Institute Ranking Framework (NIRF)
  </title>
  <link href="https://www.nirfindia.org/css/style.css" rel="stylesheet" type="text/css"/>
  <script src="https://www.nirfindia.org/js/modernizr.js" type="text/javascript">
  </script>
  <script src="https://www.nirfindia.org/js/jquery-min.js" type="text/javascript">
  </script>
  <script src="https://www.n

In [5]:
e_id = []
for i in range(0,1100,11):
    e_id.append(soup.find_all("td")[i].text)

e_name = []
for i in range(1,1100,11):
    e_name.append(soup.find_all("td")[i].text.split("More")[0])

e_TLR = []
for i in range(2,1100,11):
    e_TLR.append(soup.find_all("td")[i].text)

e_RPC = []
for i in range(3,1100,11):
    e_RPC.append(soup.find_all("td")[i].text)


e_GO = []
for i in range(4,1100,11):
    e_GO.append(soup.find_all("td")[i].text)


e_OI = []
for i in range(5,1100,11):
    e_OI.append(soup.find_all("td")[i].text)


e_PERCEPTION = []
for i in range(6,1100,11):
    e_PERCEPTION.append(soup.find_all("td")[i].text)


e_city = []
for i in range(7,1100,11):
    e_city.append(soup.find_all("td")[i].text)


e_state = []
for i in range(8,1100,11):
    e_state.append(soup.find_all("td")[i].text)


e_score = []
for i in range(9,1100,11):
    e_score.append(soup.find_all("td")[i].text)


e_rank = []
for i in range(10,1100,11):
    e_rank.append(soup.find_all("td")[i].text)
    

field = []
for i in range(100):
    field.append("Engineering")

e_df = pd.DataFrame({"Name":e_name,
                   "City":e_city,
                   "State":e_state,
                   "Rank":e_rank,"Field":field})

In [6]:
e_df.head()

,Name,City,State,Rank,Field
0,Indian Institute of Technology Madras,Chennai,Tamil Nadu,1,Engineering
1,Indian Institute of Technology Delhi,New Delhi,Delhi,2,Engineering
2,Indian Institute of Technology Bombay,Mumbai,Maharashtra,3,Engineering
3,Indian Institute of Technology Kanpur,Kanpur,Uttar Pradesh,4,Engineering
4,Indian Institute of Technology Kharagpur,Kharagpur,West Bengal,5,Engineering

In [7]:
e_df.shape

(100, 5)

In [9]:
# Extract the 'Name' column
names = e_df['Name']

# Define the file path
file_path = "top100_Engineering_Colleges.txt"

# Save to a text file
with open(file_path, "w", encoding="utf-8") as f:
    for name in names:
        f.write(name + "\n")

print(f"File saved successfully at {file_path}")

File saved successfully at top100_Engineering_Colleges.txt